.songrow{
    display: flex;
    margin-left: 20px;
    padding: 20px;
    align-items: center;
    color: white;

}

.songrow:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.songrow__info{
    margin-left: 20px;
}

.songrow__info > h1{
    font-size: 16px;
}

.songrow__info > p{
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}

.songrow__album {
    height: 40px;
    width: 40px;
    object-fit: contain;
}
